/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset default spacing and inheritance */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

/* Remove list styles */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Alter media defaults */
img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
    height: auto; /* Add width/height to HTML tag */
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100svh;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    color: #000;
    background-color: #e2e8ef;

    display: grid;
    grid-template-columns: 270px 1fr;
}

/* -------------------------- */
/* Typography and Utilities   */
/* ---------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

p {
    overflow-wrap: break-word;
    max-width: 66ch;
    text-wrap: pretty;
    margin-block: 10px;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 2rem);
}

/* ------------------- */
/* Components          */
/* ------------------- */

/* Icons */

.nav-icon {
    display: inline;
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.sidebar-header .nav-icon {
    width: 40px;
    height: 40px;
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1.5rem;
    color: white;
    background-color: #1992d4;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 2rem;
}

.sidebar-nav > ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.sidebar-nav > ol > li a {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
}

.sidebar a {
    text-decoration: none;
}

/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */
