/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset default spacing and inheritance */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

/* Remove list styles */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Alter media defaults */
img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
    height: auto; /* Add width/height to HTML tag */
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100svh;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    color: #000;
    background-color: #E2E8EF;
    
    display: flex;
    flex-direction: column;
}

/* -------------------------- */
/* Typography and Utilities   */
/* ---------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

p {
    overflow-wrap: break-word;
    max-width: 66ch;
    text-wrap: pretty;
    margin-block: 10px;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 2rem);
}


/* ------------------- */
/* Components          */
/* ------------------- */

/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */