@font-face {
    font-family: 'ArmWrestler';
    src: url('ArmWrestler-Bold.woff2') format('woff2'),
        url('ArmWrestler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('Aleo-Regular.woff2') format('woff2'),
        url('Aleo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

